.item{
	width: 208px;
	height: 208px;
	border: 6px solid grey;
	box-shadow: 4px 4px 3px #999999;
	border-radius: 4px;
	background: ;
	display: inline-block;
	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-o-perspective: 1000;
 	 perspective: 1000;
}

.flip_container,.front,.back{
	position: relative;
	width: 200px;
	height: 200px;
}

.front,.back{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0px;
	left: 0px;
	border: 0px solid white;
	
}

.item:hover .flip_container, .item.hover .flip_container{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip_container {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	overflow: hidden;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background: #f8f8f8;
	padding-top: 0px;
	text-align: center;	
}

.contacts{
	text-align: center;
}

.photos{
	padding-top: 30px;
	
	text-align: left;
	margin: auto;
}


.mem{
	
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.mem_dean{
	
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.back_header{
	position: absolute;
	width: 200px;
	height: 200px;
}