.subheading{
    color:#ed4e6e;
}
.grid {
	padding: 20px 20px 10px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 230px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}



.cs-style-4 figure > div {
	overflow: visible;
}






@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}



.panel{
    text-align:center;
   /* font-family: 'Lato', Calibri, Arial, sans-serif;*/
    color: black;
font-size: 120%;
}


bg{
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

