@font-face {
    font-family: 'barkentina 1';
    src:url('../font/barkentina.otf');
}

body
{
font-family: 'barkentina 1';
}

p, div.container
{
font-family:'barkentina 1';
font-size: 1.25em;
}

h1#acell   
{
text-align:center;
font-family:'Adobe Heiti Std R';
font-size:275%;
word-spacing:10px;
}

h2
{
font-weight:bold;
word-spacing:10px;
font-size:200%;
}

h3
{
font-weight:bold;
font-size:150%;
}