@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  src: local('Sniglet Regular'), local('Sniglet-Regular'), url(http://fonts.gstatic.com/s/sniglet/v7/zaGgxcO7SfusqT6GpDlcHg.woff) format('woff');
}

@font-face {
    font-family: 'barkentina 1';
    src:url('../font/barkentina.otf');
}

@font-face{font-family: 'champagne';
src:url("../font/Champagne_&_Limousines_Bold.ttf");}

@font-face {
    font-family: 'Julis';
    src:url('../font/julius_sans_one/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'distpro';
    src:url('../font/distpro/DistProTh.otf');
}


p, div.container
{
	font-family: 'distpro';
	font-weight: normal;
	text-align: center;
	font-size: 20px;
}
.container{
	
	padding-bottom:15px;
	background-color:white;
}
p{
	text-align: justify;
}
/*Basic reset*/
* {margin: 0; padding: 0;}

html, body {height: 100%;	background-repeat:no-repeat;
}

h2{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

h1#acell   
{
text-align:center;
font-family:'Sniglet';
font-size:275%;
word-spacing:0px;
}

/*h2
{
font-family: 'Sniglet'; 
font-weight:bold;
word-spacing:0px;
font-size:200%;

}*/

h3
{
font-family: 'Julis'; 
font-weight:bold;
font-size:110%;
}