ul{
		list-style-type:none;
	}
	.bg-light { background:#c7c8ca; margin-left:-0px; margin-right:-0px;margin-top:20px}
	.bg-dark { background:#58585a; margin-left:-0px; margin-right:-0px; margin-top:20px; color:#fff}